.desktop-space{
    width: 100%;
    height: 86.5vh;
}
.window{
    width: 500px;
    height: 500px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(138, 138, 138);
    margin-left: 50px;
    margin-top: 20px;
}
.window-top-bar{
    width: 100%;
    height: 20px;
    background-color: rgb(216, 216, 216);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.window-close-button, .window-minimalize-button, .window-maximalize-button{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin-left: 2px;
    margin-top: 2px; 
    padding: 0;
}
.window-close-button{
    background-color: var(--button-close);
}
.window-close-button:hover{
    background-color: var(--button-close-hover);
}
.window-minimalize-button{
    background-color: var(--button-minimalize);
}
.window-minimalize-button:hover{
    background-color: var(--button-minimalize-hover);
}
.window-maximalize-button{
    background-color: var(--button-maximalize);
}
.window-maximalize-button:hover{
    background-color: var(--button-maximalize-hover);
}