.topbar{
    width: 100%;
    height: 2vh;
    background: hsl(0, 0%, 100%, 0.5);
}
.topbar-left-logo{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;

}
.topbar-left-logo:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-finder{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-finder:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-file{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-file:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-edit{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-edit:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-view{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-view:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-go{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-go:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-window{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-window:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-left-button-help{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-button-help:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
#topbar-right-button-date{
    height: 100%;
    float: right;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-right-button-battery{
    height: 100%;
    float: right;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 1vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-right-button-battery:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}
.topbar-right-button-wifi{
    height: 100%;
    float: right;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-right-button-wifi:hover{
    display: block;
    background: rgba(0, 0, 0);
    color: #ffffff;
}