.topbar{
    width: 100%;
    height: 2vh;
    background: var(--topbar-background);
}
.topbar-left-logo:hover, .topbar-left-button-finder:hover, .topbar-left-button-file:hover, .topbar-left-button-edit:hover,
.topbar-left-button-view:hover, .topbar-left-button-go:hover, .topbar-left-button-window:hover,
.topbar-left-button-help:hover, .topbar-right-button-battery:hover, .topbar-right-button-wifi:hover{
    display: block;
    background: var(--topbar-cover-hover);
    color: var(--color-white);
}
.topbar-left-logo, .topbar-left-button-finder, .topbar-left-button-file, .topbar-left-button-edit, .topbar-left-button-view,
.topbar-left-button-go, .topbar-left-button-window, .topbar-left-button-help, #topbar-right-button-date,
.topbar-right-button-battery, .topbar-right-button-wifi{
    height: 100%;
    float: left;
    font-size: 1.5vh;
    font-family: 'Work Sans', sans-serif;
    margin-left: 1.5vh;
    margin-top: 0;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    vertical-align: center;
}
.topbar-left-logo{
    margin-left: 0 !important;
}
#topbar-right-button-date, .topbar-right-button-battery, .topbar-right-button-wifi{
    float: right !important;
}

@media (max-width: 1600px){
    .topbar{
        width: 100%;
        height: 3vh;
        background: var(--topbar-background);
    }
.topbar-left-logo{
        height: 100%;
        float: left;
        font-size: 2.5vh;
        font-family: 'Work Sans', sans-serif;
        margin-top: 0;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        vertical-align: center;
    }
    .topbar-left-button-finder, .topbar-left-button-file, .topbar-left-button-edit, .topbar-left-button-view,
    .topbar-left-button-go, .topbar-left-button-window, .topbar-left-button-help, #topbar-right-button-date,
    .topbar-right-button-battery, .topbar-right-button-wifi{
        height: 100%;
        float: left;
        font-size: 2vh;
        font-family: 'Work Sans', sans-serif;
        margin-left: 1.5vh;
        margin-top: 0;
        padding-left: 0.5vh;
        padding-right: 0.5vh;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        vertical-align: center;
    }
    #topbar-right-button-date, .topbar-right-button-battery, .topbar-right-button-wifi{
        float: right !important;
    }
}
